:root{
    --bg-color: #fff9f7;
    --font-darkest: black;
    --font-darker: #313030;
    --font-dark: #635551;
    --font-color: #716f6f;
    --font-light: white;
    --accent-color: #ff5821;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    transition: 0.2s ease-in-out;
}

.logo{
    font-size: 28px;
    font-weight: 700;
    color: var(--font-dark);
}

.container{
    width: 1140px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;

    .section-heading{
        font-size: 32px;
        font-weight: 600;
        color: var(--font-dark);
        text-align: center;
    }

    .section-description{
        line-height: 24px;
        text-align: center;
    }
}

.img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: var(--font-darker);
    text-decoration: none;
}

header{
    padding: 20px 0;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    z-index: 6;

    .container{
        flex-direction: row;
        align-items: center;
    }

    #ham, #ham-close{
        display: none;
    }

    .nav-links{
        font-size: 14px;
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .nav-links a{
        color: var(--font-dark);
    }
    .nav-links a.active{
        color: var(--accent-color);
    }

    .nav-links select{
        font-size: 14px;
        background: transparent;
        border: none;
    }
}

section{
    padding: 60px 0;
}

.hero-section{
    background-image: url(./media/hero-bg.jpg);
    color: var(--font-light);
    padding: 225px 0;
    background-attachment: fixed;

    .container{
        flex-direction: column;
        gap: 50px;
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .content h1{
        font-size: 48px;
        font-weight: 700;
    }

    .content p{
        font-size: 24px;
        font-weight: 500;
    }

    .get-started{
        display: flex;
        align-items: center;
    }

    .get-started i{
        font-size: 18px;
        padding: 16px 17.125px;
        background-color: var(--accent-color);
        border-radius: 50%;
        z-index: 3;
    }

    .get-started p{
        background-color: #584b48;
        margin-left: -10px;
        font-size: 16px;
        letter-spacing: 1px;
        padding: 8px 26px;
        z-index: 2;
        border-radius: 0 50px 50px 0;
        cursor: pointer;
    }

    .get-started p:hover{
        background-color: var(--accent-color);
    }
}

.why-section{
    margin-top: -10%;
    padding-bottom: 20px;

    .container{
        gap: 20px;
        flex-direction: row;
        align-items: center;
    }
    .main-card{
        padding: 30px;
        background-color: var(--accent-color);
        border-radius: 4px;
        width: 30%;
        color: var(--font-light);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .main-card button{
        padding: 6px 30px 8px 30px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50px;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 16px;
    }
    .main-card h2{
        font-size: 34px;
        font-weight: 700;
    }

    .card-container{
        display: flex;
        width: 70%;
        height: 90%;
        gap: 20px;
    }

    .card{
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        width: 30%;
        padding: 40px 30px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        text-align: center;
    }

    .card i{
        font-size: 40px;
        color: var(--accent-color);
    }

    .card h3{
        font-size: 20px;
        font-weight: 700;
    }

    .card p{
        font-size: 17px;
    }
}

.about-section{
    background-color: var(--bg-color);

    .container{
        flex-direction: row;
    }

    .video{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        background-image: url(./media/blog-inside-post.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .video i{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: var(--accent-color);
        cursor: pointer;
        border: 28px solid rgba(255, 88, 33, 0.4);
    }

    .content{
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 48px;
        gap: 15px;
    }

    .content h5{
        font-size: 18px;
        color: #7f6d68;
    }

    .content h3{
        font-size: 28px;
        color: #554945;
    }

    .icon-container{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: 40px
    }

    .icon-card{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 21px;
    }

    .icon-card i{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 26px;
        width: 64px;
        height: 64px;
        background-color: white;
        color: var(--accent-color);
        border-radius: 50%;
        border: 2px solid #ffcbba;
        cursor: pointer;
    }

    .icon-card i:hover{
        background-color: var(--accent-color);
        border-color: var(--accent-color);
        color: white;
    }

    .icon-card .card-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: calc(100% - 64px - 21px);
    }
}

.clients-section{
    overflow: hidden;

    .container{
        align-items: center;
        gap: 30px;
    }

    .slider-nav{
        display: flex;
        gap: 8px;
    }

    .dot{
        width: 12px;
        height: 12px;
        border: 1px solid var(--accent-color);
        border-radius: 50%;
        cursor: pointer;
    }

    .dot.active{
        background-color: var(--accent-color);
    }

    .slider{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 140px;
        overflow: hidden;
    }

    .slider img{
        width: 100%;
        height: auto;
        min-width: 65px;
        filter: grayscale(1);
    }

    .slider img:hover{
        filter: grayscale(0);
    }
}

.services-section{
    background-color: var(--bg-color);

    .container{
        gap: 20px;
    }

    .card-container{
        display: grid;
        grid-template-columns: 30% 30% 30%;
        justify-content: space-between;
        row-gap: 50px;
        margin-top: 48px;
    }

    .card{
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: white;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        padding: 50px 20px;
        text-align: center;
        gap: 15px;
    }

    .card i{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        font-size: 24px;
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--accent-color);
        color: white;
        cursor: pointer;
    }

    .card h4{
        color: var(--font-darker);
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
    }
}

.posts-section{
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .post{
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 160px 20px 20px 20px;
        border-radius: 6px;
    }

    .post:nth-child(1){
        background-image: url(./media/values-1.jpg);
    }

    .post:nth-child(2){
        background-image: url(./media/values-2.jpg);
    }

    .post:nth-child(3){
        background-image: url(./media/values-3.jpg);
    }

    .post:nth-child(4){
        background-image: url(./media/values-4.jpg);
    }

    .post .content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: white;
        opacity: 0.9;
        padding: 15px 30px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
    }

    .post .content:hover{
        color: white;
        background-image: none;
        background-color: var(--accent-color);
        opacity: 1;
    }

    .content h5{
        font-weight: 700;
        text-align: center;
        font-size: 20px;
    }

    .content span{
        display: flex;
        align-items: center;
        gap: 10px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
    }

    .content span:hover{
        text-decoration: underline;
    }

    span i{
        font-size: 14px;
    }
}

.testimonial-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(./media/testimonials-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;

    .container{
        align-items: center;
        gap: 20px;
    }
    .slider{
        width: 100%;
        overflow: hidden;
    }

    .page{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 15px;
        color: var(--font-light);
    }

    .page img{
        width: 100px;
        border: 6px solid rgba(255, 255, 255, 0.15);
        border-radius: 50%;
    }

    .page h4{
        font-size: 20px;
        font-weight: bold;
    }

    .page h5{
        font-size: 14px;
        color: #ddd;
    }

    .page blockquote{
        display: flex;
        gap: 10px;
        align-items: center;
        font-style: italic;
        color: #eee;
        width: 100%;
    }

    .page blockquote::before, .page blockquote::after{
        content: '"';
        font-family: cursive;
        font-size: 40px;
        width: 5%;
    }

    .page blockquote::after{
        content: '”';
    }

    .slider-nav{
        display: flex;
        gap: 10px;
    }

    .slider-nav .dot{
        width: 12px;
        height: 12px;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 1;
        border-radius: 50%;
        cursor: pointer;
    }

    .slider-nav .dot.active{
        background-color: var(--accent-color);
    }
}

.portfolio-section{
    .container{
        text-align: center;
        gap: 20px;
    }

    .selector{
        display: flex;
        gap: 5px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .selector .selection{
        text-transform: uppercase;
        padding: 10px 20px 12px 20px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 50px;
        cursor: pointer;
    }

    .selector .selection.active{
        background-color: #fff1ed;
        color: var(--accent-color);
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .gallery img{
        width: 100%;
        object-fit: cover;
    }
}

.team-section{
    background-color: var(--bg-color);

    .container{
        gap: 30px;
    }

    .card-container{
        display: flex;
        gap: 20px;
    }

    .card{
        width: 0.25fr;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
    }

    .card img{
        width: 100%;
        object-fit: cover;
    }

    .card .content{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 25px 15px;
    }

    .card .content h5{
        font-size: 18px;
        font-weight: 700;
    }
}

.pricing-section{
    .container{
        gap: 30px;
    }

    .card-container{
        display: flex;
        gap: 20px;
    }

    .card{
        width: 100%;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        text-align: center;
        overflow: hidden;
    }

    .card h6{
        background-color: #f8f8f8;
        padding: 20px 15px;
        font-size: 16px;
        font-weight: 600;
        color: #656262;
    }

    .card h6.active{
        background-color: var(--accent-color);
        color: white;
        box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
    }

    .card .content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    .content h4{
        color: var(--accent-color);
        font-size: 36px;
    }

    .content h4 sup{
        color: var(--accent-color);
        font-size: 20px;
    }

    .content h4 span{
        color: #bababa;
        font-size: 16px;
        font-weight: 300;
    }


    .card:nth-child(1) p:nth-last-child(1), .card:nth-child(1) p:nth-last-child(2), .card:nth-child(2) p:nth-last-child(1){
        color: #ccc;
        text-decoration: line-through;
    }

    .card .btn-container{
        padding: 20px 15px;
        background: #f8f8f8;
    }

    .btn-container button{
        background-color: var(--accent-color);
        color: white;
        font-size: 14px;
        font-weight: 600;
        box-shadow: 0 3px 7px rgba(255, 88, 33, 0.4);
        padding: 6px 35px 8px 35px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
    }

    .btn-container button:hover{
        background-color: white;
        color: var(--accent-color);
    }

    .card:last-child{
        position: relative;
    }

    .card:last-child .tag{
        width: 200px;
        font-size: 14px;
        padding: 1px 0 3px 0;
        position: absolute;
        background-color: var(--accent-color);
        color: white;
        top: 18px;
        right: -68px;
        transform: rotate(45deg);

    }
}

.faq-section{
    background-color: var(--bg-color);

    .container{
        gap: 30px;
    }

    .card-container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0 100px;
    }

    .card{
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        padding: 20px;
    }

    .card > p{
        font-size: 17px;
        line-height: 24px;
    }

    .question-container{
        display: flex;
        justify-content: space-between;
    }

    .question-container > i{
        cursor: pointer;
        font-size: 24px;
    }

    .question{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-size: 400;
        gap: 6px;
    }

    .question i{
        font-size: 18px;
    }

    .card.active .question-container{
        color: var(--accent-color);
    }
}

.contact-section{
    .container{
        gap: 30px 0;
        align-items: center;
    }

    .card-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        width: 75%;
    }

    .card{
        padding: 20px;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        display: flex;
        gap: 22px;
    }

    .card i{
        display: flex;
        justify-content: center;
        height: 52px;
        width: 52px;
        font-size: 28px;
        color: var(--accent-color);
        border-radius: 50%;
        padding: 8px;
        border: 2px dotted #ffded4;
    }

    .card .content{
        width: calc(100% - 52px - 26px);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .card .content p{
        line-height: 24px;
        font-size: 16px;
    }

    .contact-form{
        padding: 20px;
        box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
        grid-column: 1 / span 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .contact-form button{
        padding: 10px 24px;
        color: var(--font-light);
        border: 0;
        background-color: var(--accent-color);
        cursor: pointer;
        font-size: inherit;
        font-weight: inherit;
    }

    .form{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .form input, textarea{
        padding: 10px 15px;
        border-radius: 0;
        font-size: 14px;
        border: 1px solid #dee2e6;
    }

    .form textarea{
        min-height: 131px;
        resize: vertical;
    }

    .form input:nth-child(3), .form textarea{
        grid-column: 1 / span 2;
    }

}

.main-section{
    background-color: var(--bg-color);

    .container{
        flex-direction: row;
    }

    .contact{
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .contact h3{
        font-size: 26px;
        font-weight: 500;
    }
    
    .contact p{
        font-size: 16px;
        line-height: 24px;
    }

    .links{
        width: 17.5%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .links p{
        color: #313030;
        cursor: pointer;
    }

    .links p::before{
        content: "> ";
        color: var(--accent-color);
    }

    .newsletter{
        width: 30%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .newsletter h4, .links h4{
        font-size: 16px;
        font-weight: bold;
        color: #313030;
    }

    .newsletter p {
        font-size: 16px;
    }

    .newsletter form{
        display: flex;
    }

    form input:nth-child(1){
        background: #fff;
        border: 1px solid #ffe2d9;
        padding: 10px 18px;
        border-radius: 50px;
        font-size: 15px;
    }

    form input:nth-child(2){
        background-color: var(--accent-color);
        color: #fff;
        border-radius: 50px;
        font-size: 16px;
        padding: 0 20px;
        border: none;
        transform: translateX(-30%);
        cursor: pointer;
    }
}

.last-section{
    padding: 25px 0;
    .container{
        flex-direction: row;
        align-items: center;
    }

    .content{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .content p:nth-child(1){
        font-size: 15px;
    }

    .content p:nth-child(2){
        font-size: 14px;
    }

    .content p:nth-child(2) span{
        color: var(--accent-color);
    }

    .social-links{
        display: flex;
        gap: 15px;
        font-size: 18px;
        color: white;
    }

    .social-links i{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 36px;
        height: 36px;
        background-color: var(--accent-color);
        border-radius: 50%;
        cursor: pointer;
    }
}


@media (max-width: 1000px) {
    .container{
        width: 90%;
    }
    header{
        .nav-links{
            position: fixed;
            background-color: white;
            flex-direction: column;
            justify-content: space-around;
            transform: translateX(100%);
            width: 100%;
            height: 100vh;
            padding: 80px 0;
            top: 0;
            left: 0;
            z-index: 4;
        }

        .nav-links a, .nav-links select{
            font-size: 24px;
        }

        #ham{
            display: initial;
            font-size: 20px;
            cursor: pointer;
        }

        #ham-close{
            z-index: 4;
            font-size: 20px;
            position: fixed;
            cursor: pointer;
        }
    }

    .hero-section{
        .content h1{
            font-size: 28px;
        }

        .content p{
            font-size: 18px;
        }
    }

    .why-section{
        margin-top: -25%;

        .container{
            flex-direction: column;
        }

        .card-container{
            width: 100%;
            flex-direction: column;
        }

        .main-card, .card{
            width: 100%;
        }
    }

    .about-section{
        .container{
            flex-direction: column;
        }

        .video{
            width: 100%;
            min-height: 500px;
        }

        .content{
            width: 100%;
            padding: 48px 0;
        }
    }

    .services-section{
        .card-container{
            display: flex;
            flex-direction: column;
        }
    }

    .posts-section{
        .container{
            grid-template-columns: 100%;
        }
    }

    .portfolio-section{
        .gallery{
            grid-template-columns: 100%;
        }
    }

    .team-section{
        .card-container{
            flex-direction: column;
        }
    }

    .pricing-section{
        .card-container{
            flex-direction: column;
        }
    }

    .faq-section{
        .card-container{
            padding: 0;
        }
    }

    .contact-section{
        .card-container{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        .form{
            grid-template-columns: 100%;
        }

        .form > input, .form > textarea{
            grid-column: 1 !important;
        }
    }

    .main-section{
        .container{
            flex-direction: column;
            gap: 40px;
        }

        .contact, .newsletter, .links{
            width: 100%;
        }

        .newsletter input:nth-child(1){
            width: 100%;
        }
    }

    .last-section{
        .container{
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }
    }
}